<template name="App_chat">
    <div class="ui container">
        <h1 class="ui icon center aligned header">
            <i class="comments icon"></i>
            Bem vindo ao nosso chat!
        </h1>

        <div class="ui fluid green segment">
            <form class="ui form">
                <div class="field">
                    <label>Fale agora</label>
                    <textarea rows="3" name="message"></textarea>
                </div>
                <div class="ui green button btn_publish">
                    Publicar
                </div>
                <div class="ui error message"></div>
            </form>
        </div>

        {{#each messages}}
        <div class="ui blue segment">
            <h3 class="ui header">{{user.username}}</h3>
            <p class="msg">{{message}}</p>
        </div>
        {{/each}}
    </div>
</template>