<template name="App_signIn">
    <div class="ui text container" style="margin-top: 80px;">
        <div class="ui dividing header">Entrar</div>
        <form class="ui form segment frm_signin">
            <div class="field">
                <label>Email</label>
                <input type="text" name="email">
            </div>
            <div class="field">
                <label>Senha</label>
                <input type="password" name="password">
            </div>
            <div class="ui blue button btn_signin">Entrar</div>
        </form>

        <div class="ui warning message">
            <a href="{{pathFor 'App.signUp'}}">Não possui conta?</a>
        </div>
    </div>
</template>