<template name="App_signUp">
    <div class="ui text container" style="margin-top: 80px;">
        <div class="ui dividing header">Registre-se agora</div>
        <form class="ui form segment frm_signup">
            <div class="field">
                <label>Email</label>
                <input type="text" name="email">
            </div>
            <div class="field">
                <label>Username</label>
                <input type="text" name="username">
            </div>
            <div class="field">
                <label>Senha</label>
                <input type="password" name="password">
            </div>
            <div class="ui blue button btn_register">Registrar</div>
        </form>

        <div class="ui warning message">
            <a href="{{pathFor 'App.signIn'}}">Já possui conta?</a>
        </div>
    </div>
</template>